/* Overlay Favorite //////////////////////////////////*/

.favorite_overlay {
    height: 0%; /* Hauteur initiale à 0 pour cacher l'overlay */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(128, 128, 128, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s; /* Animation de transition pour l'ouverture/fermeture */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.favorite_overlay_content {
    font-family: 'Playfair Display', serif;
    position: relative;
    text-align: center;
    color: #121212; /* Noir */
    text-decoration: none; /* Pas de soulignement */
    font-size: 20px; /* Taille de police plus grande */
    line-height: 2.4;
    display: inline-flex;
    flex-direction: column;
}

.favorite_on_overlay_content{
    border: transparent; /* Bordure rouge */
    background-color: rgba(250, 250, 250, 0.3);
    border-radius: 35px;
    padding: 0px 15px;
    margin: 1px ; /* Espacement autour de la box */
}

.conteneur{
    text-align: center;
}


.favorite_overlay_content:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol, si souhaité */
}
.favorite_zone_cliquable {
    position: fixed;
    top: 80%;
    left: 0;
    width: 100%; /* Couvre toute la largeur */
    height: 20%; /* Couvre toute la hauteur */
    display: none; /* Cachée par défaut */
}