/* Styles généraux de l'overlay */
.menu_overlay {
    height: 100vh;
    width: 0; /* Largeur initiale à 0 pour cacher l'overlay */
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(
            to bottom,
            #7CCADF 3vh,
            #7CCADF 7vh,
            #89BB62 14vh,
            #89BB62 17vh,
            #C3E364 24vh,
            #C3E364 27vh,
            #FFE070 34vh,
            #FFE070 37vh,
            #ECA661 44vh,
            #ECA661 47vh,
            #D16762 54vh,
            #D16762 57vh,
            #E999D5 64vh,
            #E999D5 67vh,
            #BC81D9 74vh,
            #BC81D9 77vh,
            #8B78FB 84vh,
            #8B78FB 87vh,
            #94A6F0 94vh
    );
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.5s; /* Animation de transition pour l'ouverture/fermeture */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Quand l'overlay est ouvert */
.menu_overlay.open {
    width: 0;
    position: fixed;
    top : 0;
    left : 0;
    overflow-y: hidden;
}

/* Conteneur pour le contenu de l'overlay */
.container {
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne */
    grid-gap: 2vh; /* Espacement vertical entre les éléments */
    padding: 2vh 0; /* Padding vertical */
}

/* Styles pour le contenu de l'overlay */
.menu_overlay_content {
    font-family: 'Playfair Display', serif;
    font-size: 30px; /* Taille de police plus grande */
    text-align: center;
    color: #222222; /* Noir */
    text-decoration: none; /* Pas de soulignement */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer le contenu verticalement */
}

/* Zone cliquable pour fermer l'overlay */
.menu_zone_cliquable {
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%; /* Couvre la partie restante de l'écran */
    height: 100%;
    display: none; /* Cachée par défaut */
    /*background-color: #89BB62;*/
}

/* Afficher la zone cliquable quand l'overlay est ouvert */
.menu_zone_cliquable.show {
    display: block;
}


/* Media queries pour ajuster la largeur de l'overlay sur les petits écrans */
@media (max-width: 350px) {
    .menu_overlay.open {
        width: 60%; /* Plus large sur les petits écrans */
    }
    .menu_overlay_content{
        font-size: 1.4rem;
        font-weight: inherit ;
    }
    .menu_zone_cliquable {
        left: 60%;  /* Ajuster la position de la zone cliquable */
        width: 40%; /* Ajuster la largeur  de la zone cliquable */
    }

    .menu_overlay_content:hover {
        text-decoration: underline; /* Ajoute un soulignement au survol, si souhaité */
    }
    .container{
        grid-gap: 2.2rem;/* Espacement vertical entre les éléments */
    }
}

/* Media queries pour les écrans moyens */
@media (min-width: 351px) and (max-width: 768px) {
    .menu_overlay.open {
        width: 32vh;
    }

    .menu_zone_cliquable {
        left: 32vh; /* Ajuster la position de la zone cliquable */
        width: 68vh; /* Ajuster la largeur de la zone cliquable */
    }

    .menu_overlay_content{
        font-size: 1.2rem;
        font-weight: inherit ;
    }

    .container{
        grid-gap: 2.2rem;/* Espacement vertical entre les éléments */
    }

    .menu_overlay_content:hover {
        text-decoration: underline; /* Ajoute un soulignement au survol, si souhaité */
    }
}

/* Media queries pour les écrans larges */
@media (min-width: 769px) {
    .menu_overlay.open {
        width: 25%; /* Restaurer la largeur originale pour les grands écrans */
    }
    .menu_zone_cliquable {
        left: 25%; /* Restaurer la position originale de la zone cliquable */
        width: 75%; /* Restaurer la largeur originale de la zone cliquable */
    }
    .menu_overlay_content:hover {
        text-decoration: underline; /* Ajoute un soulignement au survol, si souhaité */
    }
    .menu_overlay_content{
        font-size: 1rem;
        font-weight: inherit ;
    }
    .container{
        grid-gap: 1.4rem;/* Espacement vertical entre les éléments */
    }
}

