@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Pour tout  //////////////////////////////////*/
.text_style {
    font-family: 'Playfair Display', serif;
}

.general_background {
        height: 100%;
        margin: 0;
        background: linear-gradient(to bottom, #745CFF 0%, #745CFF 20%, #fcbf9c 80%, #fcbf9c 100%) fixed;
        background-size: cover;
}

/* Pour les top bar //////////////////////////////////*/

.top-bar {
    background-color: transparent ; /* ou autre couleur de votre choix */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.top-bar-item img {
    min-height: 24px; /* ou la taille que vous voulez */
    cursor: pointer;
}



