{% block top_bar %}
    <nav class="top-bar">
        <a href="javascript:void(0)" class="top-bar-item" onclick="openNav()">
            <img src="/assets/image/SVG/topbar/menu.svg" alt="Menu">
        </a>
                <!-- autres liens -->
            {% include 'composants/overlay/menu_overlay.twig' %}

        <a href="/favorite" class="top-bar-item">
            <img src="/assets/image/SVG/topbar/favorite.svg" alt="Favoris">
        </a>

        <a href="/message" class="top-bar-item">
            <img src="/assets/image/SVG/topbar/message.svg" alt="Messages">
        </a>
    </nav>
{% endblock %}