<div id="ov_favorite" class="favorite_overlay">
    <link rel="stylesheet" href="assets/CSS/Favorite_overlay.css">
    <!-- Contenu de l'overlay -->

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content" >Architecture</a>
    </div>


    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Sculpture</a>
    </div>

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Arts Visuels</a>
    </div>

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Musique</a>
    </div>

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Littérature</a>
    </div>

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Arts de Scène</a>
    </div>

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Cinéma</a>
    </div>

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Radio et Télévision</a>
    </div>

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Bande-dessinée</a>
    </div>

    <div class="conteneur">
        <a href="#" class="favorite_overlay_content favorite_on_overlay_content">Multimédia</a>
    </div>

    <!-- Élément pour la zone cliquable -->
    <div id="zoneCliquable" class="favorite_zone_cliquable"></div>

    <!-- Inclusion du fichier JavaScript -->
    <script src="/assets/JS/FavoriteOverlay.js"></script>
</div>