<div id="ov_menu" class="overlay">

    <!-- Contenu de l'overlay -->
    <div class="overlay-content">
        <a href="#" class="overlay-content">Architecture</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Sculpture</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Arts Visuels</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Musique</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Littérature</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Arts de Scène</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Cinéma</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Radio et Télévision</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Bande-dessinée</a>
    </div>

    <div class="overlay-content">
        <a href="#" class="overlay-content">Multimédia</a>
    </div>

    <!-- Élément pour la zone cliquable -->
    <div id="zoneCliquable" class="zone-cliquable"></div>

    <!-- Inclusion du fichier JavaScript -->
    <script src="/assets/JS/overlay.js"></script>
</div>


