
<div id="ov_menu" class="menu_overlay">
    <link rel="stylesheet" href="assets/CSS/Menu_overlay.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Contenu de l'overlay -->
    <div class="container">
        <div>
            <a href="#" class="menu_overlay_content">Architecture</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Sculpture</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Arts Visuels</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Musique</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Littérature</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Arts de Scène</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Cinéma</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Radio et Télévision</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Bande-dessinée</a>
        </div>

        <div>
            <a href="#" class="menu_overlay_content">Multimédia</a>
        </div>
    </div>

    <!-- Élément pour la zone cliquable -->
    <div id="zoneCliquable" class="menu_zone_cliquable"></div>

    <!-- Inclusion du fichier JavaScript -->
    <script src="/assets/JS/MenuOverlay.js"></script>
</div>



