<!-- confirmation_inscription.html.twig -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation d'inscription</title>
</head>
<body>
<h1>Confirmation d'inscription</h1>
<p>Votre inscription a été confirmée avec succès. Connectez-vous maintenant.</p>
</body>
</html>
